<section class="hero is-light">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Welcome to Musketeersoft
      </h1>
      <h2 class="subtitle">
        A small but effective project management app for teams that care for developers.
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-7">
        <div class="content">
        <h3 class="title is-3">Why is musketeersoft so awesome?</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
          quo voluptatibus blanditiis quis odit rerum error laudantium quidem,
          est tenetur dolorum mollitia, molestiae quibusdam ipsam vero autem
          modi et nobis.
         </p>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
           quo voluptatibus blanditiis quis odit rerum error laudantium quidem,
           est tenetur dolorum mollitia, molestiae quibusdam ipsam vero autem
           modi et nobis.
          </p>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum
            quo voluptatibus blanditiis quis odit rerum error laudantium quidem,
            est tenetur dolorum mollitia, molestiae quibusdam ipsam vero autem
            modi et nobis.
           </p>
        </div>
      </div>
      <div class="column is-4 is-offset1">
        <h4 class="subtitle is-4">Sign Up Today</h4>
        <%= link_to 'Sign Up', new_user_registration_path, class: 'button is-link is-outlined' %>
      </div>
    </div>
  </div>
</section>
